.main__about_content .image__container .about__image {
  width: 21rem;
  object-fit: cover;
}
.about__sub_logo {
  right: -1rem;
  bottom: -1rem;
  border: 3px solid var(--color-light);
}
.main__about_content {
  height: 40rem;
}